.app {
  min-height: 100vh;

  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

.main {
  width: 100%;
  max-width: 800px;
  padding: 20px;
  border-radius: 10px;

  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;

  gap: 0.4rem;

  background-color: #eee;
}

.img-container {
  position: relative;

  img {
    width: 100%;
  }
}

.led {
  position: absolute;
  width: 5%;
  height: 3.5%;
  opacity: 0;
  background-color: black;
}

.on {
  opacity: 0.5;
}

.off {
  opacity: 0;
}

.pos1 {
  top: 5.3%;
  left: 17.3%;
}

.pos2 {
  top: 5.3%;
  left: 37.6%;
}

.pos3 {
  top: 5.3%;
  left: 58%;
}

.pos4 {
  top: 5.3%;
  left: 77.7%;
}

.red {
  background-color: rgb(255, 0, 0);
}
.green {
  background-color: rgb(0, 255, 21);
}
.blue {
  background-color: rgb(0, 17, 255);
}

.inputs {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 14px 50px;

  input {
    width: 100%;
  }
}
.buttons {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.messages {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
